<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">Prophet</a>
            </div>
            <div class="uk-navbar-right">
                <a class="uk-navbar-item uk-navbar-right" href="#">Docs</a>
                <a class="uk-navbar-item uk-navbar-right" href="#">Repo</a>
            </div>
    </div>
    <div class="uk-child-width-1-2@s" uk-grid>
        <div>
            <ul class="uk-tab-left uk-width-2-5" uk-tab>
                <li class="uk-active"><a href="#">1) Upload dataset</a></li>
                <li><a href="#">2) Render plot</a></li>
                <li><a href="#">3) Review forecast</a></li>
            </ul>
        </div>
    </div>
    
</body>
</html>

