{% extends "index.html" %}

{% block content %}
<h1>2.) Render Plot</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="plotly-timeseries"></div>
            <script>
            var graph = {{ plot_json | safe }};
            Plotly.plot('plotly-timeseries', graph, {});
            </script>
        </div>
        <div>
            <!-- <h2>Statistics Summary</h2>
            <p>Min: {{min}}</p>
            <p>Max: {{max}}</p>
            <p>Mean: {{mean}}</p>
            <p>Standard Deviation: {{std}}</p> -->
        </div>
        <h2>Create Forecast</h2>
        <form method="POST" action="/generate_forecast/{{filename}}">
            <label for="future">Future range:</label><br>
            <input type="text" id="future" placeholder="# of Days" name="future"><br>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}