{% extends "index.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="plotly-timeseries"></div>
                <script>
                var graph = {{ forecast_json | safe }};
                Plotly.plot('plotly-timeseries', graph, {});
                </script>
            </div>
            <div>
                <div class="uk-child-width-1-4@s" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                            <h3 class="uk-card-title">Mean:</h3>
                            <p>{{mean}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                            <h3 class="uk-card-title">Min:</h3>
                            <p>{{min}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                            <h3 class="uk-card-title">Max:</h3>
                            <p>{{max}}</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-center">
                            <h3 class="uk-card-title">Stdv:</h3>
                            <p>{{std}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-align-center">
            <button uk-icon="icon: download" class="uk-button uk-button-primary" type="button">Export Results</button>
            <div uk-dropdown>
                <form method="GET" action="/export/forecast_{{name}}.csv">
                    <button class="uk-button uk-button-default" type="submit">forecast_{{name}}.csv</button>
                </form>
                <form method="GET" action="/export/{{name}}.png">
                    <button class="uk-button uk-button-default" type="submit">{{name}}.png</button>
                </form>
            </div>
        </div>
{% endblock %}