{% extends "index.html" %}

{% block content %}
<div>
  <div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Upload dataset</h3>
    <p>Get started by importing your data. Follow the "ds" "y" format in the example below.</p>
    <img src="/static/images/sample.png" alt="sample file image" width="250">
  </div>
  <div class="uk-margin-top">
    <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <input  class="uk-background-muted uk-button uk-button-default" type="file" id="myFile" name="filename">
        <input  class="uk-button uk-button-default" type="submit">
    </form>
  </div>
</div>
{% endblock %}