{% extends "index.html" %}

{% block content %}
<div>
  <p>Get started by importing your data. Follow the "ds" "y" format in the example provided here.</p>
  <img src="/static/images/sample.png" alt="sample file image" width="250">
  <form action="/upload_file" method="POST" enctype="multipart/form-data">
      <input  class="uk-background-muted uk-button uk-button-default" type="file" id="myFile" name="filename">
      <input  class="uk-button uk-button-default" type="submit">
  </form>
</div>
{% endblock %}